.main-content {
}

.car-show-room:hover {
    background: #7DA0B1;
}
.client-card:hover {
    background: #7DA0B1;
}

/***** ТАБЛИЦА СТАВОК (заголовок) ****/
.bids-table-container table th {
    vertical-align: top;
    text-align: center;
    border: 1px gainsboro solid;
    padding:5px;
    background: #0E7EB5;
    color:white;
    font-size: 11px !important;
    font-weight: bold;
}

/***** ТАБЛИЦА СТАВОК (ячейки) ****/
.bids-table-container table td {
    vertical-align: top;
    text-align: left;
    border: 1px gainsboro solid;
    padding:3px;
    font-size: 11px;
    text-align: center;
}


/***** ТАБЛИЦА ПОЛЬЗОВАТЕЛЕЙ (заголовок) ****/
.users-table-container table th {
    vertical-align: top;
    text-align: center;
    border: 1px gainsboro solid;
    padding:5px;
    background: #0E7EB5;
    color:white;
    font-size: 11px !important;
    font-weight: bold;
}

/***** ТАБЛИЦА ПОЛЬЗОВАТЕЛЕЙ (ячейки) ****/
.users-table-container table td {
    vertical-align: top;
    text-align: left;
    border: 1px gainsboro solid;
    padding:3px;
    font-size: 11px;
    text-align: center;
}


.lot-bids-table {
    width: 100%;
    margin-top: 5px;
}

.lot-bids-table td {
    vertical-align: top;
    text-align: center;
    border: 1px gainsboro solid;
    padding:3px;
}

.item-form {
    display: flex;
}

.item-form-field {
    width: 31%;
    margin:5px;
}

/***** ВЕРХНЕЕ МЕНЮ (активная) ****/
.current-page-menu-active {
    background: burlywood;
}

/***** Кнопка (синяя) ****/
.my-custom-btn-class {
    background: #0E7EB5; color: white; padding:0px 15px 2px 15px; margin:4px; border-radius: 3px; font-size: 13px;
    border: white 1px solid;
}

.my-custom-btn-class:hover {
    background: lightskyblue;
}

.user-strategy-menu-active {
    color: black;
    background: lawngreen;
}

.last-bid-lot-wrapper {
    /*background: #b3d7ff;*/
    /*border:1px cornflowerblue solid;*/
    padding:0px;
    width: 250px;
    position: fixed;
    z-index: 99999;
    right:5px;
    top:20px;
    min-height: 100px;
}

.page-content-container {
    overflow: auto; height: 750px; border: 0px red solid;
}

.parser-list-table tr:hover {
    background: #7DA0B1;
}